.content {
    .title {
        text-align: center;
    }

    .row {
        margin: 20px 0;
        .button {
            width: 200px;
        }
        .required {
            color: rgb(255, 74, 74);
        }
    }

    .row-clear {
        display: flex;
        align-items: center;
    }

    .list-content {
        padding: 20px;
        // border: 1px solid rgb(99, 180, 255);
        box-shadow: 0 0 20px white;
        border-radius: 15px;
        margin-bottom: 30px;
        height: 40vh;
        overflow: auto;
        background-color: transparent;

        .card-supermarket {
            margin: 15px 30px;
            padding: 10px;
            box-shadow: 0 0 20px rgb(218, 218, 218);
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .img img {
                width: 100px;
                border-radius: 20px;
                border: 4px solid rgb(211, 211, 211);
            }
        }
        .fird {
            display: flex;
        }
    }

}